{% extends "base.html" %}
{% block title %}
{% endblock %}

{% block content %}
{% load static %}
<h1>Turniere</h1>
<div class="grid">
    {% for entry in entries %}
    <div class="tile">
        <div class="tile-top">

            <div class="tile-image">

                {% if entry.image %}
                    <img src="{{ entry.image.url }}" alt="Eventbild">
                {% else %}
                    <img src="{% static 'images/testbild.png' %}" alt="Standardbild">
                {% endif %}
            </div>
            <div class="tile-title {{ entry.color }}">
                <h4>{{ entry.title }}</h4>
                <h5>{{ entry.start|date:"d.m.Y" }}</h5>
            </div>
        </div>
        <div class="tile-content {{ entry.color }}">
            <p>{{ entry.location_name }}<br>{{ entry.location_plz }} {{ entry.location_city }}</p>
            <a href="{{ entry.link }}" class="btn {{ entry.color }}">Join</a>
        </div>
    </div>
  {% empty %}
    <div>Keine Turniere vorhanden.</div>
  {% endfor %}
</div>

{% endblock %}