{% extends "base.html" %}
{% block title %}
{% endblock %}

{% block content %}
{% load static %}
<h1>Turniere</h1>
<div class="turnamentbox">

    <div class="grid">
        {% for entry in entries %}
        <div class="tile">
            <div class="tile-top">

                <div class="tile-image">

                    {% if entry.image %}
                        <img src="{{ entry.image.url }}" alt="Eventbild">
                    {% elif  entry.color == "red" %}
                        <img src="{% static 'images/calender_image_red.png' %}" alt="Standardbild">
                    {% elif  entry.color == "blue" %}
                        <img src="{% static 'images/calender_image_blue.png' %}" alt="Standardbild">
                    {% elif  entry.color == "green" %}
                        <img src="{% static 'images/calender_image_green.png' %}" alt="Standardbild">
                    {% elif  entry.color == "orange" %}
                        <img src="{% static 'images/calender_image_orange.png' %}" alt="Standardbild">
                    {% else %}
                        <img src="{% static 'images/testbild.png' %}" alt="Standardbild">
                    {% endif %}
                </div>
                <div class="tile-title {{ entry.color }}">
                    <h4>{{ entry.title }}</h4>
                    <p>{{ entry.date|date:"d.m.Y" }} // {{ entry.location_plz }} {{ entry.location_city }}</p>
                </div>
            </div>
            <div class="tile-content {{ entry.color }}">
                <a class="link" href="{{ entry.maps }}">→ Google Maps</a>
                <a class="link" href="{{ entry.link }}">→ Zur Registrierung</a>
                <p>Registrierung bis {{ entry.registration_end|date:"d.m.Y" }}</p>
            </div>
        </div>
        {% empty %}
        <div>Keine Turniere vorhanden.</div>
        {% endfor %}
    </div>
</div>

{% endblock %}