{% extends "base.html" %}
{% block content %}
<h1>Legendz League German Championship Series Application</h1>
<div class="application-box">
    <p>Applikation für 2026 ist jetzt eröffnet.</p>
    <p>Folgende Punkte sind zu beachten:</p>
    <ol>
        <li>Die maximale Kapazität des Veranstaltungsortes ist ausschlaggebend. Qualifikationsturniere dürfen ausschließlich in Präsenz ausgetragen werden.</li>
        <li>Für jeden Teilnehmer eines Turniers wird eine geringe Gebühr in den Preispool der Legendz League German Championship eingezahlt.</li>
        <li>Die Mindestteilnehmeranzahl für ein Qualifikationsturnier beträgt 20 Spieler.</li>
        <li>Die Weitergabe von Einladungen ist optional. Der Turnierorganisator hat dies vor Turnierbeginn bekanntzugeben und ist für die Richtigkeit verantwortlich.</li>
        <li>Die Ausgestaltung des Turniers ist frei wählbar (z. B. Startgebühr, Preise usw.), sofern die offiziellen Lorcana-Regeln eingehalten werden.</li>
        <li>Datum und Uhrzeit der Veranstaltung können zu einem späteren Zeitpunkt festgelegt werden. Sofern schon Termine bekannt sind, gerne mitteilen.</li>
        <li>Nach Abschluss der Veranstaltung sind die Decklisten, die Namen der Spieler sowie deren Playhub-Benutzernamen,  Discord-Benutzernamen und E-Mail-Adressen zu übermitteln. Optional können auch Fotos eingereicht werden, die unter anderem auf der Website oder auf Social Media veröffentlicht werden.</li>
        <li>Im Falle von Vertragsverstößen wird der Veranstalter von der Legendz League ausgeschlossen und verliert sämtliche Rechte zur Durchführung weiterer Turniere.</li>
    </ol>

    <form method="post" action="">
        {% csrf_token %}

        {{ form.as_p }}

        <button>Submit</button>
    </form>
</div>


<script>
    function closePopup() {
        const popup = document.getElementById("success-popup");

        if (popup) {
            popup.style.display = "none";
        }
    }
</script>
{% if messages %}
    {% for message in messages %}
        <div id="success-popup" class="popup">
            <div class="popup-content">
                <span class="popup-close" onclick="closePopup()">&times;</span>

                <h2>Märchenhaft!</h2>
                <p>{{ message }}</p>

                <button type="button" onclick="closePopup()">
                    Schließen
                </button>
            </div>
        </div>
    {% endfor %}
{% endif %}


{% endblock %}



