{% extends "base.html" %} {% block title %} Home Page {% endblock %}
{% block content %}
{% load static %}
<h1>Wilkommen bei Legendz League</h1>
<div class="textbox">
    <div class="foto">
        <img src="{% static 'images/legendzLeague.png' %}" alt="Standardbild">
    </div>
    <p>Das Legendz League Team</p>
    <p>Wir sind ein TCG Team, das mit Leidenschaft, Erfahrung und Teamgeist zusammenarbeit. Jeder von uns bringt seine individuellen Stärken ein - gemeinsam veranstalten wir Turniere die man nicht so vergisst.</p>
</div>
{% endblock %}

Das Legendz League Team

