{% extends "base.html" %} {% block title %} Home Page {% endblock %}
{% block content %}
{% load static %}
<h1>Willkommen bei Legendz League</h1>
<div class="textbox">
    <div class="foto">
        <img src="{% static 'images/legendzLeague.png' %}" alt="Standardbild">
    </div>
    <p>Das Legendz League Team</p>
    <p>
        Wir sind ein TCG-Team, das mit Leidenschaft, Erfahrung und Teamgeist zusammenarbeitet.
        Jeder von uns bringt seine individuellen Stärken ein - gemeinsam veranstalten wir Turniere, die man nicht so vergisst.

        Legendz League ist eine private deutsche Turnierserie für Lorcana.
        Spielerinnen und Spieler aus aller Welt haben die Möglichkeit, sich über teilnehmende Championship Series sich die German Championship zu qualifizieren.

        Unser Ziel ist es, im Rahmen eines offenen und kompetitiven Community-Event den besten Spieler Deutschlands zu ermitteln und gleichzeitig soll es die bundesweite Spielerszene nachhaltig stärken.

        Freut euch aufspannende Wettkämpfe, attraktive Preise, jede Menge Spaß und unvergessliche Momente.
        Sichert euch jetzt euren Platz und meldet euch für eines der kommenden Turniere an. Wir freuen uns darauf, euch bei einer Legendz League Championship Series begrüßen zu dürfen!

        Bei Fragen erreicht ihr uns jederzeit über Instagram.

        Euer Legendz League Team
    </p>
</div>
{% endblock %}


