{% extends "base.html" %} {% block title %} Home Page {% endblock %}
{% block content %}
{% load static %}
<h1>Wilkommen bei Legendz League</h1>
<div>
    <p>Latest Player {{ latest_player.nickname }}</p>
    <p>Next Event {{ next_event.title }}</p>
</div>
<div class="textbox">
    <div class="foto">
        <img src="{% static 'images/testbild.png' %}" alt="Standardbild">
    </div>
    <p>Wir sind die Leagendz League.</p>
    <p>Unser Ziel ist es die besten Lorcana-Turniere in Deutschland auszurichten.</p>
    <p>Wenn du an einem Turnier teilnehmen oder ein Turnier ausrichten möchtest, bist du hier genau richtig.</p>
</div>
{% endblock %}