{% extends "base.html" %}

{% block title %}Impressum{% endblock %}

{% block content %}
<h1>Impressum</h1>
<div class="application-box">
<p>Angaben gemäß § 5 DDG</p>
<p>Legendz League</p>
<p>TanDuc Bui</p>
<p>Michael-Seidl-Str. 20</p>
<p>81825 München</p>
<p>Deutschland</p>
<p></p>
<p>Tel.: +49 17662083803</p>
<p>E-Mail: chongshomegame@outlook.de</p>
<p></p>
<p>verantwortlich für den Inhalt nach § 18 MStV:</p>
<p>TanDuc Bui</p>
<p>Michael-Seidl-Str. 20</p>
<p>81825 München</p>
<p>Deutschland</p>
</div>
{% block extra_content %}
{% endblock %}

{% endblock %}