<div class="social-box">
    <div class="social-content">
        <a href="https://www.instagram.com/goat_legendz_league?igsh=MThpbTQ4ajVlcHlq" target="_blank">
            <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://discord.gg/SDYCcSfzZ" target="_blank">
            <i class="fa-brands fa-discord"></i>
        </a>
        <a href="https://www.twitch.tv/Legendz_League" target="_blank">
            <i class="fa-brands fa-twitch"></i>
        </a>

    </div>
</div>

