body {
  background-color: var(--blue);
  color: var(--lightgold);

}

.container {
  padding-top: 70px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.navbar{
  background-color: var(--darkblue) !important;
  border-bottom: 3px solid var(--black);
}

.nav-link{
  color: var(--lightgold) !important;

}

form label {
    display: block;
    width: auto;
    margin-bottom: 4px;
}

.pattern {
    background-image: url("/static/svg/bg_pattern_1.svg");
    background-size: 300px 300px;

    position: fixed;
    inset: 0;

    background-repeat: repeat;

    z-index: -1;
    pointer-events: none;
}
