body {
  background-color: #FFECD6;
  color: var(--lightgold);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}


.container {
  padding-top: 160px;

}

.navbar{
  background-color: #FFECD6 !important;
  border-bottom: 5px solid var(--lightgold);
  min-height: 100px;
}

.nav-link{
  color: var(--lightgold) !important;
  font-size: 1.2rem;
}

form label {
    display: block;
    width: auto;
    margin-bottom: 4px;
}

.pattern {
    background-image: url("/static/svg/pattern_big.svg");
    background-size: 600px 600px;

    position: fixed;
    inset: 0;

    background-repeat: repeat;

    z-index: -1;
    pointer-events: none;
    opacity: 0.15;
}

.textbox {
    border: 3px solid var(--lightgold);
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: rgba(255, 236, 214, 0.5);
}

.textbox p {
  font-size: 1.2rem;
}

.foto {
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;     /* vertikal */
}

.foto img {
    max-width: 100%;
    height: auto;
    border: 3px solid var(--lightgold);
}