.social-box {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;

    width: 60px;
    border: 1px solid var(--lightgold);
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,.15);
    overflow: hidden;
}

.social-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.social-content a {
    font-size: 28px;
    color: var(--lightgold);
}

.upcoming-box {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 9999;
}

.upcoming-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    border: 1px solid var(--lightgold);
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,.15);
    overflow: hidden;

    padding: 15px;
    margin: 15px;
}

.upcoming-content a {
    font-size: 16px;
    color: var(--lightgold);
}

@media (max-width: 768px) {
    .upcoming-box {
        display: none;
    }
}


