body {
  padding-top: 70px;
  background-color: var(--blue) !important;
  color: var(--gold) !important;
}

.navbar{
  background-color: var(--darkblue) !important;
  border-bottom: 3px solid var(--black);
}

.nav-link{
  color: var(--gold) !important;
}
